<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--      <bean id="tv" class="com.springbook.biz.day01.ex04.SamsungTV" init-method="initMethod"/>
     <bean id="tv2" class="com.springbook.biz.day01.ex04.SamsungTV" destroy-method="destroyMethod"/>
     <bean id="tv3" class="com.springbook.biz.day01.ex04.SamsungTV" lazy-init="true"/>
     <bean id="tv4" class="com.springbook.biz.day01.ex03.SamsungTV" scope="singleton"/> 
     <bean id="tv4" class="com.springbook.biz.day01.ex04.SamsungTV" scope="prototype"/> -->

      <bean id="tv" class="com.springbook.biz.day01.ex04.SamsungTV" p:speaker-ref="sony" p:price="2700000">
     <!--  <constructor-arg index="0" ref="apple"></constructor-arg>
      <constructor-arg index="1" value="2800000"></constructor-arg> -->
      
      
      <!-- setter 인젝션 사용하려면 property엘리먼트 사용 -->
     <!--  <property name="speaker" ref="apple"></property>
      <property name="price" value="280000"></property> -->
      </bean>
      <bean id="sony" class="com.springbook.biz.day01.ex04.SonySpeaker"></bean>
      <bean id="apple" class="com.springbook.biz.day01.ex04.AppleSpeaker"></bean>
      
</beans>
